* {
    font-family: 'Chakra Petch', sans-serif;
}

body {
    background-color: #FFF4FD;
    margin: 0px;
    border: 0px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

main {
    margin: 0px;
    border: 0px;
}

header {
    height: 23px;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    box-shadow: 0 1px 0 0 #110038;
    margin-bottom: 35px;
    padding-left: 7px;
}

header p {
    margin: 0px;
    border: 0px;
}

.topbar {
    padding-left: 60px;
    display: flex;
    align-items: center;
    padding-bottom: 78px;
}

.flecha {
    padding-right: 7px;
}

.initialLoadWindow {
    margin-left: 378px;
    margin-right: 378px;
    background: #E6E6E6;
box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
padding: 3px 3px 3px 3px;
}

.windowTitle {
    display: flex;
    align-items: center;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    padding-left: 7px;
    height: 24px;
    color: white;
}

.initialLoadWindow h4 {
    padding-left: 73px;
    padding-top: 35px;
    margin-top: 0px;
    margin-bottom: 17px;
}

.initialLoadWindow p {
padding-left: 73px;
margin-top: 0px;
font-size: 14px;
color: #110038;
letter-spacing: 0;
line-height: 20px;
margin-bottom: 18px;
padding-right: 93px;
}

.boxText {
    height: 190px;
}

.loadWindowButtons {
    display: flex;
    flex-direction: row;
    padding-bottom: 36px;
    justify-content: flex-end;
    padding-right: 36px;
}

.loadWindowButtons button {
    margin-left: 16px;
    width: 144px;
    height: 36px;
}

.cancel {
    background: #FFF4FD;
border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
display: flex;
align-items: center;
justify-content: center;
}

.start {
    background: #F7C9F3;
border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.tendencias {
    margin-top: 64px;
    padding-left: 100px;
}

.tendenciasdehoy {
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    margin-right: 140px;
    padding: 7px 0px 7px 7px;
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    margin-bottom: 16px;
}

.mygifs {
display: grid;
grid-template-columns: auto auto auto auto;
padding-right: 140px;
align-content: space-around;
justify-content: space-between;
}

.obtgifbox {
    width: 298px;
    height: 298px;
    margin-bottom: 16px;
    background: #E6E6E6;
box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    z-index: 0;
}

.obtgif {
    width: 291px;
    height: 291px;
    background: #E6E6E6;
    z-index: 1;
box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
margin: 4px 4px 4px 4px;
}



 .loadWindowTitle {
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    padding-left: 4px;
    padding-right: 10px;
    height: 24px;
    display: flex;
    justify-content: space-between;
margin: 3px;
 }

 .loadWindowTitle span {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }

 .loadingWindows {
     height: 548px;
     background: #E6E6E6;
box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
margin-left: 265px;
margin-right: 315px;
display: flex;
flex-direction: column;
justify-content: space-between;
padding-bottom: 38px;
 }

 .preview {
     height: 468px;
     width: 100%;
     z-index: 999;
 }

 .previewContainer2 {
    height: 468px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin: 8px 14px 21px 8px;
    padding: 3px;
 }

 #isavideo {
    object-fit: cover;
    width: 100%; 
    max-height: 468px;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
 }

 .previewContainer {
    height: 468px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin: 8px 14px 21px 8px;
    padding: 3px;
 }


/*botonera de capturar*/
.captura button {
        height: 36px;
        background: #F7C9F3;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
        font-family: 'Chakra Petch', sans-serif;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        text-align: center;
        line-height: 18px;
    }

    .captura {
        display: flex;
        align-self: flex-end;
        align-items: center;
        margin-right: 16px;
    }

    .capturar {
        width: 144px;
    }

.cameraIcon {
    padding-top: 3px;
}
    

/*botonera de grabar*/

.recording button {
    height: 36px;
    background: #FF6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    color: white;
}

.recording {
    display: flex;
    align-self: flex-end;
    align-items: center;
    margin-right: 16px;
}

.record {
    width: 144px;
}

.recordingIcon {
padding-top: 5px;
}

/*botonera de repetir captura o subir*/

.windowFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timerandloader {
    display: flex;
    align-items: center;
}

.timer p{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
border: 1px solid #979797;
box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
width: 124px;
height: 36px;
margin-left: 11px;
margin-top: 0px;
margin-bottom: 0px;
margin-right: 24px;
}

.fwdButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F7C9F3;
border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
width: 20px;
height: 20px;
margin-right: 4px;
}

.progressBar {
    display: flex;
    background: #B4B4B4;
    border: 1px solid #979797;
    box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #E6E6E6;
width: 238px;
height: 24px;
padding: 2px 0px 0px 2px;
}

#activeRectangle {
    background: #F7C9F3;
    height: 22px;
    width: 12px;
    margin-right: 2px;
}

#inactiveRectangle {
    background: #999999;
    height: 22px;
    width: 12px;
    margin-right: 2px;
}


.rptuploadbuttons {
    display: flex;
align-items: center;
margin-right: 16px;
}

.repetir {
    background: #FFF4FD;
border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
height: 36px;
width: 144px;
margin-right: 14px;
}

.subir {
    height: 36px;
width: 144px;
background: #F7C9F3;
border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}


/*subiendo guifo*/

.cancelButton {
    display: flex;
    justify-content: flex-end;
}

.cancel {
    background: #FFF4FD;
border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
width: 144px;
height: 36px;
margin-right: 16px;
font-size: 16px;
}

.emptyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 468px;
    background: #FFFFFF;
border: 1px solid #979797;
box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    margin: 8px 14px 21px 8px;
    padding: 3px;
}


.uploadingBar {
    display: flex;
    background: #B4B4B4;
    border: 1px solid #979797;
    box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #E6E6E6;
width: 324px;
height: 24px;
padding: 2px 0px 0px 2px;
}

.remaining {
    font-size: 12px;
color: rgba(17,0,56,0.64);
letter-spacing: 0;
text-align: center;
line-height: 14px;
}

.smallPreviewContainer {
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
        padding: 3px;
        margin-left: 24px;    
        margin-top: 27px;
        width: 371px;
        height: 196px;
}

.smallPreviewContainer img {
    height: 196px;
    width: 100%;
}

.ready {
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.imageAndButtons {
    display: flex;
    align-items: center;
}

.rightButtons {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-right: 46px;
    height: 196px;
    margin-top: 49px;
}

.rightButtons p {
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 16px;
}

.rightButtons button {
    background: #FFF4FD;
border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
width: 256px;
height: 36px;
margin-bottom: 14px;
}

.readyButton {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    padding-bottom: 36px;
    justify-content: flex-end;
    padding-right: 36px;
}

.readyButton button {
    margin-left: 16px;
    width: 144px;
    height: 36px;
}

.subido {
    margin-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
  }
  
  .finalLoadWindow {
        margin-left: 378px;
        margin-right: 378px;
        background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    padding-top: 1px;
}

#window1 {
    display: block;
}

#window2 {
    display: none;
}

#window3 {
    display: none;
}

#window4 {
    display: none;
}

#window5 {
    display: none;
}

#window6 {
    display: none;
}

.emptyurl {
    display: none;
}